openapi: 3.0.3
info:
  title: SWIM ATIS Information Request API
  version: 1.0.1
  description: |
    Client-facing OpenAPI definition aligned with MLIT Civil Aviation Bureau
    "SWIM Service API Integration Specification, Appendix 07 - ATIS Information
    Request Service", version 1.0.1, issued 2025-05-30.

    The TypeScript client exposes this operation as `getAtis()` and returns the
    decoded HTTP 200 JSON without renaming, filtering, validating, or reshaping
    response fields.
servers:
  - url: https://web.swim.mlit.go.jp
    description: SWIM service provider system
tags:
  - name: Authentication
  - name: ATIS
paths:
  /swim/webapi/login:
    post:
      tags: [Authentication]
      summary: Authenticate with SWIM
      servers:
        - url: https://top.swim.mlit.go.jp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwimCredentials'
      responses:
        '200':
          description: Authentication response. The client expects MSMSI and MSMAI cookies.
          headers:
            Set-Cookie:
              schema:
                type: string
        default:
          description: Authentication failed.
  /f2atrq/web/FLV402001:
    get:
      tags: [ATIS]
      summary: Request ATIS information
      operationId: getAtis
      security:
        - MSMSI: []
          MSMAI: []
      parameters:
        - name: location
          in: query
          required: true
          description: One ICAO airport code or multiple comma-separated ICAO airport codes.
          schema:
            type: string
            minLength: 1
          examples:
            single:
              value: RJTT
            multiple:
              value: RJCC,RJCH
        - name: dispcnt
          in: query
          required: true
          description: Number of ATIS records requested per airport.
          schema:
            type: integer
            minimum: 1
            maximum: 50
          example: 3
      responses:
        '200':
          description: |
            Normal result, no-data result, or business error. The service uses
            HTTP 200 for all documented result codes.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AtisSuccessResponse'
                  - $ref: '#/components/schemas/AtisErrorResponse'
              examples:
                success:
                  value:
                    error_info:
                      - error_code: '0'
                        error_description: ''
                    data:
                      - location: RJTT
                        atisinfo:
                          - 'ATIS RJTT R'
                noData:
                  value:
                    error_info:
                      - error_code: '1'
                        error_description: ''
                    data: []
                businessError:
                  value:
                    error_info:
                      - error_code: '4'
                        error_description: RJ88
        default:
          description: HTTP-level failure outside the documented ATIS result contract.
components:
  securitySchemes:
    MSMSI:
      type: apiKey
      in: cookie
      name: MSMSI
    MSMAI:
      type: apiKey
      in: cookie
      name: MSMAI
  schemas:
    SwimCredentials:
      type: object
      required: [id, password]
      additionalProperties: false
      properties:
        id:
          type: string
          minLength: 1
        password:
          type: string
          format: password
          minLength: 1
    AtisErrorInfo:
      type: object
      required: [error_code, error_description]
      additionalProperties: true
      properties:
        error_code:
          type: string
          enum: ['0', '1', '2', '3', '4', '5', '6', '99']
        error_description:
          type: string
    AtisLocationData:
      type: object
      required: [location, atisinfo]
      additionalProperties: true
      properties:
        location:
          type: string
        atisinfo:
          type: array
          items:
            type: string
    AtisSuccessResponse:
      type: object
      required: [error_info, data]
      additionalProperties: true
      properties:
        error_info:
          type: array
          items:
            $ref: '#/components/schemas/AtisErrorInfo'
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtisLocationData'
    AtisErrorResponse:
      type: object
      required: [error_info]
      additionalProperties: true
      properties:
        error_info:
          type: array
          items:
            $ref: '#/components/schemas/AtisErrorInfo'
