openapi: 3.0.3
info:
  title: SWIM ATIS Information Request API
  version: 1.0.1
  description: |
    Client-facing OpenAPI definition based on MLIT Civil Aviation Bureau
    "SWIM Service API Integration Specification, Appendix 07 - ATIS Information
    Request Service", version 1.0.1, issued 2025-05-30.

    The TypeScript client exposes this operation as `getWeather()` and returns
    the JSON value supplied by the API without transforming fields or converting
    HTTP 200 business-error payloads into custom exceptions.
servers:
  - url: https://web.swim.mlit.go.jp
    description: SWIM service provider system
tags:
  - name: Authentication
  - name: Weather
paths:
  /swim/webapi/login:
    post:
      tags: [Authentication]
      summary: Authenticate with SWIM
      servers:
        - url: https://top.swim.mlit.go.jp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwimCredentials'
      responses:
        '200':
          description: Authentication response. The client expects MSMSI and MSMAI cookies.
          headers:
            Set-Cookie:
              schema:
                type: string
        default:
          description: Authentication failed.
  /f2atrq/web/FLV402001:
    get:
      tags: [Weather]
      summary: Request SWIM ATIS/weather information
      operationId: getWeather
      security:
        - MSMSI: []
          MSMAI: []
      parameters:
        - name: location
          in: query
          required: true
          description: One ICAO location indicator or multiple comma-separated indicators.
          schema:
            type: string
            minLength: 1
          examples:
            single:
              value: RJCH
            multiple:
              value: RJCC,RJCH
        - name: dispcnt
          in: query
          required: true
          description: Number of records requested for each location.
          schema:
            type: integer
            minimum: 1
            maximum: 50
          example: 3
      responses:
        '200':
          description: |
            Original JSON payload supplied by SWIM. The client returns this value
            without field renaming, filtering, schema enforcement, or business-error
            conversion.
          content:
            application/json:
              schema: {}
              examples:
                success:
                  value:
                    error_info:
                      - error_code: '0'
                        error_description: ''
                    data:
                      - location: RJCH
                        atisinfo:
                          - 'ATIS RJCH H'
                businessError:
                  value:
                    error_info:
                      - error_code: '4'
                        error_description: RJ88
        default:
          description: HTTP-level failure.
components:
  securitySchemes:
    MSMSI:
      type: apiKey
      in: cookie
      name: MSMSI
    MSMAI:
      type: apiKey
      in: cookie
      name: MSMAI
  schemas:
    SwimCredentials:
      type: object
      required: [id, password]
      additionalProperties: false
      properties:
        id:
          type: string
          minLength: 1
        password:
          type: string
          format: password
          minLength: 1
