openapi: 3.0.3
info:
  title: SWIM ATIS Information Request API
  version: 1.0.1
  description: |
    Client-facing OpenAPI definition for the MLIT Civil Aviation Bureau
    SWIM ATIS Information Request Service (FLV402001), based on
    "SWIM Service API Integration Specification, Appendix 07 - ATIS Information
    Request Service", version 1.0.1, issued 2025-05-30.

    The TypeScript client exposes the service operation as `getWeather()`.
    Successful HTTP 200 responses are returned from `Response.json()` without
    renaming fields, filtering properties, reshaping objects, or converting
    SWIM business-error payloads into custom exceptions.
servers:
  - url: https://web.swim.mlit.go.jp
    description: SWIM service provider system
tags:
  - name: Authentication
  - name: ATIS
paths:
  /swim/webapi/login:
    post:
      tags: [Authentication]
      summary: Authenticate with SWIM
      operationId: login
      servers:
        - url: https://top.swim.mlit.go.jp
          description: SWIM authentication service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwimCredentials'
      responses:
        '200':
          description: Authentication response containing MSMSI and MSMAI cookies.
          headers:
            Set-Cookie:
              description: Session cookies returned by SWIM.
              schema:
                type: string
        default:
          description: Authentication failed at the HTTP level.
  /f2atrq/web/FLV402001:
    get:
      tags: [ATIS]
      summary: Request ATIS information
      description: |
        Requests ATIS information for one or more ICAO aerodrome location
        indicators. The service may return normal data, a no-data response, or a
        documented business-error object with HTTP 200. The client returns the
        decoded JSON value unchanged in all HTTP 200 cases.
      operationId: getWeather
      security:
        - MSMSI: []
          MSMAI: []
      parameters:
        - name: location
          in: query
          required: true
          description: |
            One four-character ICAO aerodrome location indicator, or multiple
            indicators separated by commas.
          schema:
            type: string
            minLength: 4
          examples:
            single:
              value: RJCH
            multiple:
              value: RJCC,RJCH
        - name: dispcnt
          in: query
          required: true
          description: Number of records requested for each location.
          schema:
            type: integer
            minimum: 1
            maximum: 50
          example: 3
      responses:
        '200':
          description: |
            Original JSON payload supplied by SWIM. The TypeScript client returns
            this value without runtime schema validation or transformation.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                success:
                  summary: Successful ATIS response
                  value:
                    error_info:
                      - error_code: '0'
                        error_description: ''
                    data:
                      - location: RJCH
                        atisinfo:
                          - 'ATIS RJCH H'
                noData:
                  summary: No matching data
                  value:
                    error_info:
                      - error_code: '1'
                        error_description: ''
                    data: []
                businessError:
                  summary: Business error returned with HTTP 200
                  value:
                    error_info:
                      - error_code: '4'
                        error_description: RJ88
        default:
          description: HTTP-level failure. The client throws an Error.
components:
  securitySchemes:
    MSMSI:
      type: apiKey
      in: cookie
      name: MSMSI
    MSMAI:
      type: apiKey
      in: cookie
      name: MSMAI
  schemas:
    SwimCredentials:
      type: object
      required: [id, password]
      additionalProperties: false
      properties:
        id:
          type: string
          minLength: 1
        password:
          type: string
          format: password
          minLength: 1
